/*inicio del main desktop*/
@media (min-width: 1000px) {
    .img {
      padding: 200px;
    }
    .cartel {
      width: 100%;
      margin-top: 150px;
    }
    .texto {
      padding: 35px;
      text-align: center;
      font-size: 30px;
      margin: 20px;
    }
    .section-2 {
      padding: 200px;
    }
    .section-4 {
      flex-direction: row;
    }
    #blin2 {
      width: 600px;
      height: 400px;
    }
    .ul {
      flex-direction: column;
      margin: 2px;
      margin-left: -2px;
    }
    main #gridid div img {
      width: 200px;
      height: 241px;
    }
    main #gridid {
      display: grid;
      grid-template-columns: repeat(3, 200px);
      grid-template-rows: repeat(2, 210px);
    }
    .caja {
      flex-direction: row;
    }
    .section {
      flex-direction: row;
    }
  }
  /* fin main del desktop */