/*inicio main mobile traslados*/
main{
  .section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    .box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: $color-secundario;
    text-decoration: underline solid 5px $color-pincipal
    }
    .box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: $color-secundario;
    }
  }
  .section-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  padding-bottom: 15px;
    .blindado {
    width: 340px;
    height: 200px;
    border: 2px solid black;
    }
    .listas {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
      .ul {
      flex-direction: column;
      align-items: center;
      display: flex;
      margin-right: 32px;
      list-style: none;
        .li {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 35px;
        border: 2px solid black;
        height: 100px;
        width: 400px;
        background: #526D82;
        text-align: center;
        color: $color-secundario;
        }
      }
    }
  }
  section{
    .tit {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: $fondo-contacto;
    }
  }
  
}

//*grid*//

  section .tit p {
    color: $color-secundario;
    text-decoration: underline solid 5px $color-pincipal;
  }
  main .cont-img {
    padding-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2, 210px);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    object-fit: cover;
    background-color: black;
    padding-bottom: 30px;
  }
  
  main .cont-img div img {
    width: 200px;
    height: 241px;
  }
  
  main .cont-img div {
    border: 1px solid $color-pincipal;
  }
  //*fin del grid*//
  /*fin del main mobile traslados*/