/*inicio footer mobile*/

footer {
    display: flex;
    background-color: #333;
    color: rgba(255, 242, 232, 0.7764705882);
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    margin: 15px;
  }
  
  /*fin del footer mobile*/